services:
  cli-proxy-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: cli-proxy-api-dev
    environment:
      DEPLOY: ${DEPLOY:-}
      TZ: Asia/Ho_Chi_Minh
      READ_ONLY: "true"
      SYNC_INTERVAL_MINUTES: "10"
    # env_file:
    #   - .env
    ports:
      - 8317:8317
      - 8085:8085
      - 8085:8085/udp
      - 1455:1455
      - 54545:54545
      - 11451:11451
      - 51121:51121
    volumes:
      # Mount entire project for live code sync
      - .:/app
      # Mount config and data directories
      - ./data/config.yaml:/CLIProxyAPI/config.yaml
      - ./data/auth-dir:/root/.cli-proxy-api
    restart: unless-stopped
    networks:
      - common
networks:
  common:
    external: true
